/* Custom Styles */

.entry-title {
	font-weight: 300;
}

.site-content {
	line-height: 1.4;
}

.site-content p {
	margin-bottom: 1.2em;
}

.site-content h3,
.film-layout h3 {
	margin-bottom: 0.6em;
	margin-top: 1em;
}

.film-layout h4 {
	font-size: 100%;
	margin-bottom: 0.2em;
}

.small-text {
	font-size: 88%;
}

.smaller-text {
	font-size: 80%;
}

/* @group Front Page */

.front-headline .hero-image,
.front-headline .hero-no-image {
	padding: 1em;
	top: 0px;
	border: 0px solid #303;
	display: block;
/*	min-height: 500px;*/
	background-color: #a0a0a0;
	background-size: cover;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: column;
	flex-direction: column;

	-webkit-justify-content: center;
	justify-content: center;

	-webkit-align-items: center;
	align-items: center;
}

.front-headline {
	position: relative;
	border: 0px solid #333;
	margin-bottom: 2em;
}



.front-headline .entry-title,
.front-headline .entry-content {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	padding: 0;
}

.front-headline .hero-image .entry-title,
.front-headline .hero-image .entry-content {
	background: rgba(255, 255, 255, 0.51);
	background: rgba(0, 0, 0, 0.28);
}

.front-headline .entry-title {
/*	background: rgba(0, 0, 0, 0.23);*/
	width: auto;
	display: inline;
	margin: 0 auto;
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}

.front-headline .entry-title a,
.front-headline .entry-content,
.front-headline .entry-content a {
	color: #fff;
}

.front-headline .entry-title a:hover {
	text-decoration: none;
}

.front-headline .hero-image .entry-title,
.front-headline .hero-image .entry-content {
	text-shadow: 0 0 1em #000000;
}

.front-headline .hero-image .entry-title {
	padding: 0.5em;
}

.front-headline .hero-image .entry-content {
	padding: 1em 1em 1em 1em;
}

.front-headline .entry-summary p:last-of-type {
	margin-bottom: 0;
	padding-bottom: 0;
}

.front-news .content {
	font-size: 80%;
}

.news-date {
	color: #919191;
}

.front-news .news-date {
	font-size: 70%;
	margin-bottom: 0.3em;
}

.single-post .news-date {
	font-size: 92%;
	margin-bottom: 0.3em;
}

.front-page .front-news .entry-title {
	font-size: 90%;
	text-transform: lowercase;
	line-height: 1.2;
	margin-bottom: 0.3em;
}

.front-page .front-films .h3 {
	font-size: 100%;
	text-transform: none;
	margin-top: 0;
	padding-top: 0;

}


.film-link {
	text-decoration: none;
	display: block;
}

.film-link:hover {
	opacity: 0.8;
}

/* @end */

.desktop-view {
	display: none;
}

.related-news {
	margin-bottom: 2em;
}

.director-thumbnail {
	float: left;
	margin-right: 1em;
	margin-bottom: 0.5em;
}

/* @group Tagline */


.film-tagline {
	margin-bottom: 1em;
}

.film-tagline p {
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 20%;
	font-weight: 400;
	font-size: 90%;
}

.film-tagline blockquote {
	border:  0px;
	margin: 0px;
	line-height: 1.4;
	font-weight: 100;
	padding-bottom: 0;
	padding-left: 0em;
	padding-top: 0;
	margin-bottom: 0;
}

.film-tagline blockquote p {
	margin-bottom: 0;
	padding-right: 0;
	font-size: 120%;
	font-weight: 300;
}

.film-tagline blockquote:after {
	border-left: 0px solid #d1d1d1;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0.625em;
}

/* @end */



.entry-meta--header .published {
	position: relative;
}


.site-content ul,
.film-layout ul {
	margin-left: 1.5em;
}

.film-director img {
	display: block;
	width: 100px;
	height: auto;
}

h3.director-name {
	margin-top: 0.3em;
}

.cast-crew p {
	margin: 0 0 0.5em 0;
}

.footer-widgets-bottom {
	float: left;
	text-align: left;
}

.footer-widgets-bottom h4 {
	color: #fff;
	font-size: 130%;
	margin-top: 0.5em;
	margin-bottom: 1em;
}
