/* Plugins */

/* Jetpack Galleries */

.jp-carousel-image-meta {
	display: none;
}
#jp-carousel-comments-loading {
	display: none !important;
}

/* Wysija */

.widget_wysija_cont .wysija-submit {
	font-size: 120%;
}

#wysija-subscriptions table th {
	background: transparent;
	border: 0px;
}
#wysija-subscriptions label[for="status--1"]{
	margin-right: 0.8em;
}
#wysija-subscriptions h3 {
	text-align: left;
}

.widget_wysija .formError .formErrorContent {
	font-size: 0.8em;
}
