
@media only screen and (max-width: 767px) {


}

@media only screen and (min-width: 580px) {

	.front-news {
		width: 20%;
		float: left;
		text-align: left;
	}
	.front-films {
		width: 80%;
		float: left;
	}

	.front-news .gallery-item {
		width: 100%;
	}
}

@media (min-width: 660px) {
	.page-template-front .site-content-inside {
			padding-right: 0;
			padding-top: 3em;
			padding-bottom: 3em;
		}
}



@media only screen and (min-width: 660px) {
		.front-headline  .hero-image {
			min-height: 14em;
		}
}

@media only screen and (min-width: 720px) {

		.front-films .film-item {
			width: 45%;
			float: left;
			margin-bottom: 1em;
		}

		.front-headline .hero-image {
			min-height: 16em;
		}

		.front-headline .entry-title {
			font-size: 1.6em;
		}

}


@media only screen and (min-width: 900px) {

	/* Breakpoint! */

	.mobile-only,
	.mobile-view {
		display: none;
	}

	.desktop-view,
	.desktop {
		display: block;
	}

	.single-post .site-content-inside {
		max-width: 100%;
		width: 100%;
/*		border: 1px solid green;*/
		padding-right: 0;
	}


	.single-post .page-fence {
/*		max-width: 100%;*/
		width: 100%;
/*		border: 1px solid pink;*/
	}

	.front-headline  .hero-image {
		min-height: 20em;
	}

	.front-headline .entry-title {
		font-size: 1.8em;
	}
	.front-headline .entry-content {
		font-size: 1.2em;
	}

/*
 * Define as flexbox container
*/

	.film-layout {

		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

/*		border: 1px solid blue;*/

		-webkit-flex-direction: row;
		flex-direction: row;

/*		-webkit-flex-direction: column;
		   flex-direction: column; */

/*		-webkit-align-items: center;
		  align-items: center;*/

		  justify-content: center;

		  width: 100%;

		  padding-top: 0;

	}

	.film-layout .group {
		width: 42%;
/*		flex: 1 10px;*/
		margin: 0 auto 0 auto;
/*		border:  1px dotted #ddd;*/
	}

	.film-layout .group-1 {
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
/*		with: 50%*/
	}
	.film-layout .group-2 {
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
		width: 20%;
	}
	.film-layout .group-3 {
		-webkit-box-ordinal-group: 3;
		-moz-box-ordinal-group: 3;
		-ms-flex-order: 3;
		-webkit-order: 3;
		order: 3;
		width: 30%;
	}


	.film-layout .group-1 {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-direction: column;
				   flex-direction: column;
	}


	.group-1 .entry-header {
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
	}

	.group-1 .film-tagline {
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}



	.group-1 .film-trailer {
		-webkit-box-ordinal-group: 3;
		-moz-box-ordinal-group: 3;
		-ms-flex-order: 3;
		-webkit-order: 3;
		order: 3;
	}

	.group-1 .watch-now {
		-webkit-box-ordinal-group: 4;
		-moz-box-ordinal-group: 4;
		-ms-flex-order: 4;
		-webkit-order: 4;
		order: 4;
	}

	.group-1 .film-synopsis {
		-webkit-box-ordinal-group: 5;
		-moz-box-ordinal-group: 5;
		-ms-flex-order: 5;
		-webkit-order: 5;
		order: 5;
	}

	.group-1 .film-links {
		-webkit-box-ordinal-group: 6;
		-moz-box-ordinal-group: 6;
		-ms-flex-order: 6;
		-webkit-order: 6;
		order: 6;
	}


	.gallery-columns-3 .gallery-item {
		width: 100%;
	}


} /* close 900px */


@media only screen and (min-width: 900px) {

		.front-films .film-item {
			width: 30%;
			float: left;
		}


		.front-films .film-item:nth-child(3n+4) {
		  clear: left;
		}


}

@media only screen and (min-width: 1200px) {

		.front-headline  .hero-image {
			min-height: 24em;
		}

		.front-headline .entry-content {
			font-size: 1.4em;
		}

}
